      .chat-message-user
      {
        display: flex;
        justify-content: end;
        align-items: start ;
      }
      .chat-message-chatbot
      {
        display: flex;
        max-width: 300px;
        align-items: start;
      }
      
      .message-box
      {
        display: flex;
        align-items: center;
        background-color: rgb(238, 238, 238);
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .image,.image2
      {
        width: 50px;
        border-radius: 100%;
      }