button{
  background-color: rgb(24, 145, 64);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.image,.image2
{
  width: 50px;
  border-radius: 100%;
}

.app-container
{
  max-width:600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}